
.main-header{
  background: linear-gradient(60deg, rgb(124, 231, 124),rgb(58, 57, 57));
  color: white;
  padding: 0 0 5px;
  font-size: 52px;
  line-height: 62px;
  text-shadow: 0 0 10px black;
  box-shadow: 0 1px 4px black;
}

.header-text-container{
  display: inline-block;
  position: relative;
}

.header-text-container::before{
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 5px;
  height: 16px;
  width: 16px;
  transform: rotate(-45deg);
  filter: invert(100%);
  background: url('./images/paw-16.png');
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
